* { /*config global */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2B6E2D;
}

.fonte-texto{
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.fonte-titulos{
  color: #1E4A1E;
  text-shadow: 20px 20px 70px #bebebe, -20px -20px 70px #bebebe;
}
#lens{
  font-size: 45px;
}
#noefects{
  text-shadow: none;
}

.cor {
  color: #ededed;
  background: linear-gradient(145deg, #18331e, #3d7d53);
  padding: 3px 9px;
  border-radius: 5px;
}

body {
  padding-top: 20vh; 
  background: #ededed;
  background: linear-gradient(180deg,rgba(237, 237, 237, 1) 65%, rgba(237, 237, 237, 1) 74%, rgba(255, 255, 255, 1) 100%);
}

h3 {
  font-size: x-large;
}

.logo{
  width: 45px;
  height: 35px;
  border-radius: 50%;
  transition: transform 0.3s ease;
   
}
.logo:hover {
  transform: scale(1.1) /*rotate3d(1, 0, 0, 180deg)*/;
  transform: rotate(1turn);
}

.div-flex {
  display: flex;
  justify-content: center; /* Centraliza tudo no eixo horizontal */
  align-items: center; /* Espaço entre texto e imagem */
  flex-wrap: wrap; /* Mantém responsividade */
  margin-left: 16vh;

}
.div-flex h2 {
  text-align: center;
  flex-shrink: 0;
}

.div-contato {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div-contato-images {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.navbar-linha {
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.5vh; /* 2% da altura em cima/baixo e 5% da largura nas laterais */
  justify-content:space-between; /*identação esquerda, meio e direita */
  z-index: 10;
  
  background-color: #8EB897;
  backdrop-filter: blur(10px);
}

.navbar-fim {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  bottom: 0;
  width: 100%;
  padding: 3.5vh 2.5vh;
  justify-content: center;

  background-color: #8EB897;
}

.conteudo-dropdown {
  position: absolute; /*não deixa sair de dentro da navbar qnd abre */
  right: 0;
  margin-top: 12px;
  background-color: white;
  min-width: 140px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 10;
}

.conteudo-dropdown a { /* para cada opcao do menu: */
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dropbtn { /*configs do botão menu */
  border: none;
  font-size: 1rem;
  cursor: pointer; /* cursor vira maozinha */
}

.boas-vindas {
  text-align: center;
  margin-top: 2vh;
}
.boas-vindas h1 {
  margin-bottom: 3vh;  
}
.boas-vindas h3 {
  margin-top: 10vh;
  margin-bottom: 3vh;
}
.boas-vindas p {
  text-align: justify;
  margin-left: 20vw;
  margin-right: 20vw;
}

.wrapper {
  display: inline-block;
  animation: slideInRight 6s ease-out forwards;
}
.imagem-lens {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-left: 2vh; 
  box-shadow: 20px 20px 60px #bebebe;
  transition: transform 0.5s ease;
}

.imagem-lens:hover {
  transform: scale(1.2) rotate(2deg);
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(200px) rotate(-5deg);
  }
  30%{
    opacity: 0.3;
    transform: translateX(100px) rotate(-5deg);
  }
  60% {
    opacity: 0.6;
    transform: translateX(-10px) rotate(2deg);
  }
  80% {
    opacity: 0.8;
    transform: translateX(5px) rotate(-1deg);
  }
  100% {
    opacity: 1; 
    transform: translateX(0) rotate(3deg); 
  }
}

.icon{
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

/* From Uiverse.io by dylanharriscameron */ 
.card {
  margin-top: 5vh;
  position: relative;
  width: 200px;
  height: 260px;
  border-radius: 14px;
  z-index: 5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 250px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #2B6E2D;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.bg_projeto {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.projeto {
  margin-bottom: 1vh;
}

.div-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: center;
}

@media (max-width: 768px) {
  .div-flex {
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-right: 15vh;
  }

  .imagem-lens {
    margin-top: 5vh;
    margin-right: 3vh;
    opacity: 1;
  }

  .div-projetos {
    flex-direction: column;
    align-items: center;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-conteudo {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.modal-conteudo h2 {
  background-color: #bebebe;
  margin-bottom: 1vh;
}
.modal-conteudo ul {
  margin-left: 2vh;
  margin-right: 2vh;
  text-align: justify;
  padding-top: 5px;
}
.modal-conteudo li {
  margin-bottom: 1vh;
}
.modal-conteudo h4 {
  color: #333;
}

.modal-conteudo span {
  color: #333;
  font-weight: bold;
}

#fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.div-tecnologias{
  margin-top: 4vh;
  display: flex;
  gap: 3vh;
  justify-content: center;
}

.ft-tecnologias{
  width: 60px;
  height: 60px;
}

.lens-text {
  background: linear-gradient(145deg, #8EB897, #6f9c7f);
  padding: 3px 9px;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 3px 6px #5e7d67, -2px -2px 4px #a8d3b1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.lens-text:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 10px #5e7d67, -2px -2px 5px #a8d3b1;;
}

/* From Uiverse.io by cssbuttons-io */ 
.buttons {
  font-size: 17px;
  padding: 0.5em 1em;
  font-weight: 500;
  background: white;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttons:hover .transition {
  width: 14em;
  height: 14em;
}

.buttons:active {
  transform: scale(0.97);
}

.sub-titulos {
  text-decoration:underline;
  text-underline-offset: 12px;
  text-decoration-style:dotted;
  text-decoration-color: #8EB897;
  text-decoration-thickness: 0.30em;
}

.img-projetos {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 3px solid #2B6E2D;
  margin-bottom: 1.3vh;
}

/* From Uiverse.io by cssbuttons-io */ 
.button-projetos {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(131, 44%, 26%) 0%,
     hsl(130, 39%, 38%) 8%,
     hsl(124, 37%, 24%) 92%,
     hsl(119, 48%, 46%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 3px 5px;
  border-radius: 12px;
  color: #2B6E2D;
  background: #bebebe;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .button-projetos:hover {
  filter: brightness(110%);
 }
 
 .button-projetos:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .button-projetos:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 .button-projetos:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .button-projetos:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 .button-projetos:focus:not(:focus-visible) {
  outline: none;
 }



 .button-github {
  width: 130px;
  height: 40px;
  cursor: pointer;
  background-color: #bebebe;
  color: #2B6E2D;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
 .button-github:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #238a2c,
   0 15px 0 -4px #044718,
   0 16px 10px -3px #116026;
 }
 
 .button-github:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #71d05a,
   0 8px 0 -4px #2e744e,
   0 12px 10px -3px #94d3ab;
 }